.container{
	border: solid;
	border-radius: 5px;
	padding: 5px;
}
.dropzone{
	width: 40%;
	display: inline-block;
}
.dropbox{
	align-items: center;
	background: lightgrey;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3rem;
	height: 200px;
	justify-content: center;
	line-height: 2rem;
	margin-right: 20px;
	outline-offset: -12px;
	outline: 2px dashed black;
	padding: 18px 20px;
	position: relative;
	width: 200px;
}
.dropbox input{
	cursor: pointer;
	height: 200px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	width: 100%;
}
.dropbox p{
	font-size: 1.2em;
	padding: 50px 0;
	text-align: center;
}
textarea{
	height: 150px;
	width: calc(100% - 300px);
}
